.header1{
  border-radius: 10px;
  width: 100%;
  height: 200px;
  background-color: rgba(57, 155, 235, 0.315);
}

.portfolio-one{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-desc{
  line-height: 30px;
}
